.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.square {
  background-color: green;
  font-size: 4em;
  color: red;
  width: 80px;
  height: 80px;
  border: 2px solid orange;
}

@media (max-width: 600px) and (min-height: 600px ) {
  .container{
    width: 84px;
    flex-direction: column;
  }
}

@media(min-width: 601px) and (max-width: 800px) {
  .container{
    width: 168px;
  }
}
@media(min-width: 801px) and (max-width: 1000px) {
  .container{
    width: 840px;
  }
}
@media(min-width: 1001px) {
  .container{
    width: 1680px;
  }
}


